<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dicheck</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
  body{
    overflow-x: hidden;
  }
</style>
<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="/">DiCheck</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>Embrace foresight,<span> Defy the odds,</span> Thrive beyond diabetes</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">BMI calculator</a></li>
          <li><a class="nav-link" href="#predict">Prediction</a></li>
          <li><a class="nav-link" href="#recommendation">Recommendation</a></li>
          <li><a class="nav-link" href="/register">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
      

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about us</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/assets/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>DiCheck</h3>
          <p class="fst-italic">
            Welcome to DiCheck, where we're dedicated to revolutionizing diabetes prediction and prevention. Our team of healthcare professionals, data scientists, and technology experts have come together to create a powerful platform that analyzes various risk factors and biomarkers to assess your likelihood of developing diabetes.
            Using advanced machine learning algorithms and the latest medical research, we provide accurate and personalized risk assessments tailored to your unique profile. From genetic predisposition to lifestyle habits and medical history, we consider multiple factors to deliver comprehensive insights into your diabetes risk.
            At DiCheck, we believe in the importance of proactive health management. That's why our platform not only identifies your risk but also offers actionable recommendations to help you take control of your health and reduce your risk of developing diabetes.
            Join us in our mission to prevent diabetes and improve health outcomes worldwide. With DiCheck, you'll have the tools and support you need to make informed decisions about your health and well-being. Together, let's create a healthier future for generations to come.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Success stories</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div>

      </div>

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Diabetes Management</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Heath Management <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Dietary goals <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Physical Activity <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Sugar intake control <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Stress Management <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Meditation <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Motives</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3>Prevalence</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3>Impact</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3>Early Intervention</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3>Targeted Prevention</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3>Personalized Care</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3>Population Health Impact</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3>Future Prospects</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
            <h3>Healthcare Resource Optimization</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-anchor-line" style="color: #b2904f;"></i>
            <h3>Public Health Importance</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-disc-line" style="color: #b20969;"></i>
            <h3>Early Detection of Prediabetes</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ff5828;"></i>
            <h3>Long-Term Health Monitoring</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
            <h3>Empowering Individuals</h3>
          </div>
        </div>
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I'm incredibly grateful for the care I've received from Dr. Shubhashree Patil. Their extensive knowledge of diabetes management coupled with their compassionate demeanor made me feel empowered in managing my condition. I couldn't ask for a better diabetes doctor.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Dr. Shubhashree Patil</h3>
              <h4>Diabetologist,General Physician</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Dr. Harsh Parekh has been instrumental in managing my diabetes. Their personalized approach and attention to detail have helped me gain better control over my blood sugar levels. I highly recommend them to anyone seeking expert care for diabetes
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Dr. Harsh Parekh</h3>
              <h4>Endocrinologist,Diabetologist</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I've been a patient of Dr. Abhijit Jadhav for several years now, and I can confidently say they are one of the best diabetes specialists out there. Their dedication to staying updated on the latest treatments and technologies ensures that I receive the most effective care tailored to my needs.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Dr. Abhijit Jadhav</h3>
              <h4>Diabetologist</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Dr. Akshaya Shetty has been a true partner in my diabetes journey. Their proactive approach to treatment and willingness to listen to my concerns have made all the difference in my health outcomes. I trust Dr. Akshaya implicitly and wouldn't hesitate to recommend them to others.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Dr. Akshaya Shetty</h3>
              <h4>MBBS, Consultant Physician, Special Interest in Diabetology</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                As someone newly diagnosed with diabetes, I was overwhelmed and scared. Dr. Shivangi Singh not only provided me with expert medical guidance but also offered unwavering support and encouragement every step of the way. I'm so grateful to have them as my diabetes doctor.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>Dr. Shivangi Singh</h3>
              <h4>Endocrinologist,Diabetologist</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="section {% if section == 'resume' %}active{% endif %}">
    <div class="container">
      <style>
        body {
            font-family: Arial, sans-serif;
            margin: 10;
            padding: 20px;
            display: flex;
            justify-content: left;
            align-items: left;
            height: 70vh;
            background-color: #f4f4f4;
        }

        .calculator {
            background-color: #fff;
            align-items: center;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 30px;
            box-sizing: border-box;
        }

        button {
            width: 20%;
            padding: 15px;
            margin-right: 50px;
            margin-left: 400px;
            background-color: #0f12df;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>
<body>

  <div class="calculator">
      <h2>BMI calculator</h2>
      <label for="weight">Weight (kg):</label>
      <input type="number" id="weight" placeholder="Enter your weight">

      <label for="height">Height (cm):</label>
      <input type="number" id="height" placeholder="Enter your height">

      <button onclick="calculateBMI()">Calculate BMI</button>

      <h2 id="result"></h2>
  </div>

<script>
    function calculateBMI() {
        var weight = document.getElementById('weight').value;
        var height = document.getElementById('height').value;

        if (weight !== '' && height !== '') {
            var bmi = (weight / ((height / 100) * (height / 100))).toFixed(2);
            document.getElementById('result').innerHTML = 'Your BMI is: ' + bmi;
        } else {
            document.getElementById('result').innerHTML = 'Please enter both weight and height';
        }
    }
</script>

    </div>

  </section><!-- End Resume Section -->


  <!-- ======= predict Section ======= -->
<section id="predict" {% if section == 'predict' %} class="show" {% else %} class="hide" {% endif %}>
  <div class="container">
      <form id="predictionForm">
          <label for="gender">Gender:</label>
          <input type="text" name="gender" required><br>

          <label for="age">Age:</label>
          <input type="number" name="age" required min="1"><br>

          <label for="bmi">BMI:</label>
          <input type="number" name="bmi" required min="0" step="0.01"><br>

          <label for="family_history">Family History:</label>
          <select name="family_history" required>
              <option value="">Select</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
          </select><br>

          <label for="heart_disease">Heart Disease:</label>
          <select name="heart_disease" required>
              <option value="">Select</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
          </select><br>

          <!-- <label for="physcial_inactivity">physcial inactivity:</label>
          <select name="physcial_inactivity" required>
              <option value="">Select</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
          </select><br> -->

          <!-- <label for="pcos">pcos:</label>
          <select name="pcos" required>
              <option value="">Select</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
          </select><br> -->

          <label for="blood_sugar_level">Blood Sugar Level:</label>
          <input type="number" name="blood_sugar_level" required min="0" step="0.01"><br>

          <label for="HbA1c_level">HbA1c Level:</label>
          <input type="number" name="HbA1c_level" required min="0" step="0.01"><br>

          <button id="predictButton" type="button">Predict</button>

          <div id="predictionResult"></div>
      </form>
  </div>
</section><!-- End predict Section -->

<style>
  #predictButton,#predictionResult
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<script>
  // Function to send prediction request
  function predict() {
    console.log('Predict function called');  // Log the function call
    const form = document.querySelector('form#predictionForm');
    
    if (!form.checkValidity()) {
        alert('Please fill in all the required fields.');
        return;
    }

    const formData = new FormData(form);
    const data = {};
    formData.forEach((value, key) => {
        data[key] = value;  
      console.log(value)
    });
    
    for (const pair of formData.entries())
    {
      console.log(pair[0]+","+pair[1]);
    }
    fetch('/predictform', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => {
        console.log('Response:', response);  // Log the response object
        return response.json();
    })
    .then(data => {
        console.log('Received data:', data);  // Log the received data
        
        // Display prediction result
        document.getElementById('predictionResult').innerText = data.prediction;

        form.reset(); // Clear form fields
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

// Add event listener to the predict button
document.getElementById('predictButton').addEventListener('click', function() {
    console.log('Predict button clicked');  // Log the button click
    predict();
});

</script>

  <!-- ======= Recommendation Section ======= -->
  <section id="recommendation" class="section {% if section == 'recommendation' %}active{% endif %}">
    <div class="container">

      <div class="section-title">
        <h2>Recommendation</h2>
        <p>Doctor</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="recommendation-flters">
            <li data-filter="*" class="filter-active">Best Reccommended Doctor</li>
          </ul>
        </div>
      </div>

      <div class="row recommendation-container">

        <div class="col-lg-4 col-md-6 recommendation-item filter-app">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Pardeep Talwalkar</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-1.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr. Pradeep Talwalkar</li>
                    <li><strong>Specialist</strong>: MBBS, MD - General Medicine, Internal Medicine,General Physician, Special Interest in Diabetology</li>
                    <li><strong>Experience</strong>: 47 Years Experience Overall</li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/dir/19.075069,72.8726835/S+L+Raheja+Fortis+Hospital/@19.0599738,72.8363118,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3be7c92f84c13ec9:0x807c1cbf1b5e8536!2m2!1d72.8426792!2d19.0462839?entry=ttu'>Mahim, Mumbai</a></li>
                  </ul>
      
                  <p>
                    Dr Pradeep G. Talwalkar Has Been Practising Diabetology For Three Decades Now. Formerly A Postgraduate Teacher Of Internal Medicine,He Now Teaches Diabetology.
                    A Sought-After Speaker At Various Conferences, Symposiums And Continuing Medical Education Programmes, Dr Talwalkar Has Lectured Extensively All Over India. He Is Very Active On The Patient Education Front: Besides Conducting Workshops And Seminars, He Uses The Print, Radio, Television And Online Media To Spread Awareness About Diabetes Among Patients And Caregivers.
                  </p>"><i class="bx bx-plus"></i></a>
                <!-- <a href="recommendation-details1.html" data-gallery="recommendationDetailsGallery" data-glightbox="type: external" class="recommendation-details-lightbox" title="Recommendation Details"><i class="bx bx-link"></i></a> -->
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 recommendation-item filter-web">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Salaah Qureshi</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-2.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr. Salaah Qureshi</li>
                    <li><strong>Specialist</strong>: MD - General Medicine, MBBS, Consultant Physician, Special Interest in Diabetology
                      </li>
                    <li><strong>Experience</strong>: 21 Years Experience Overall  (13 years as specialist)</li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/place/19%C2%B007'41.7%22N+72%C2%B049'17.1%22E/@19.1282483,72.8214115,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.1282483!4d72.8214115?entry=ttu'>Seven Bungalows Andheri, Mumbai</a></li>
                  </ul>
      
                  <p>
                    A qualified diabetologist and endocrinologist, Dr. Salaah Qureshi in Andheri offers one of the best treatments to diabetic patients and to those complaining about ailments in their endocrine organs. Ever since the time he started practicing way back in 2012, he has always ensured to treat the condition based on the patient's symptoms, duration of illness, complications of diabetes and other necessary case history so as to address the problem from its root.  
                  </p>"><i class="bx bx-plus"></i></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 recommendation-item filter-app">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Shubhashree Patil</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-3.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr. Shubhashree Patil</li>
                    <li><strong>Specialist</strong>: MBBS, DNB - General Medicine, Diploma in Diabetology (KEM Mumbai), Diabetologist,General Physician</li>
                    <li><strong>Experience</strong>: 19 Years Experience Overall</li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/place/19.127673,72.867817'>Andheri (East), Mumbai</a></li>
                  </ul>
      
                  <p>
                  Doctor is practicing at Diabetes and wellness clinic since 2013. Doctor has done graduation in MBBS from Government medical college, Nagpur, Post graduation in general medicine DNB. GEN.MED. from National Board New Delhi. Doctor has done her specialization in Diabetes from SIR.HN Hospital, Mumbai. Doctor also has done a certified course in Diabetology Steno Diabetes Centre from Denmark . She has valuable experience from All India Institute Of Diabetology in S.L. Raheja Hospital, Mahim, Mumbai. 
                  </p>"><i class="bx bx-plus"></i></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 recommendation-item filter-card">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Indumathi Kuberan</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-4.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr. Indumathi Kuberan</li>
                    <li><strong>Specialist</strong>: MBBS, General Physician, Special Interest in Diabetology</li>
                    <li><strong>Experience</strong>: 31 Years Experience Overall </li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/place/19%C2%B013'47.5%22N+72%C2%B051'51.2%22E/@19.22986,72.8642211,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.22986!4d72.8642211?entry=ttu'>Borivali (East), Mumbai</a></li>
                  </ul>
      
                  <p>
                      Dr.Indumathi Kuberan is a Diabetologist practising at Borivali East and Mira Road East Mumbai and has an experience of 20 + years in this field.
                      She runs 2 clinics - Indu’s Diabetes Clinics at Borivali East and Mira Road East Mumbai. She has done various post-graduate certifications in Diabetes Specialties from Public Health Foundation of India (PHFI). 
                  </p> "><i class="bx bx-plus"></i></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 recommendation-item filter-web">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Abhijit Jadhav</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-5.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr. Abhijit Jadhav</li>
                    <li><strong>Specialist</strong>: MBBS, Diploma in Diabetology (KEM Mumbai), FCPS - Medicine, Diabetologist</li>
                    <li><strong>Experience</strong>: 24 Years Experience Overall  (23 years as specialist)</li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/place/19%C2%B010'11.3%22N+72%C2%B057'42.0%22E/@19.1698013,72.9616572,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.1698013!4d72.9616572?entry=ttu'>Mulund (East), Mumbai</a></li>
                  </ul>
      
                  <p>
                      Dr. Abhijit Jadhav is a Diabetologist, General Endocrinologist and Consultant Physician in Mulund East, Mumbai. Dr. Abhijit Jadhav practices at Aditya Care in Mulund East, Mumbai. The doctor completed MBBS from BYL Nair Hospital Mumbai in 2000, D. Diabetology from BYL Nair Hospital Mumbai in 2006 and F.C.P.S.(Medicine) from BYL Nair Hospital Mumbai in 2007.
                  </p>"><i class="bx bx-plus"></i></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 recommendation-item filter-app">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Madhur Maheshwari</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-6.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr Madhur Maheshwari</li>
                    <li><strong>Specialist</strong>: MD - General Medicine, MBBS, DNB - Endocrinology, Diabetes, Metabolism, Endocrinologist,Diabetologist</li>
                    <li><strong>Experience</strong>: 12 Years Experience Overall  (3 years as specialist)</li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/place/19%C2%B006'53.3%22N+72%C2%B050'35.0%22E/@19.1148117,72.8430482,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.1148117!4d72.8430482?entry=ttu'>Andheri (West), Mumbai</a></li>
                  </ul>
      
                  <p>
                  Dr Madhur Maheshwari, is a one of the leading Endocrinologists and Diabetologist, with more than 10 years of experience in Mumbai. He has trained at the prestigious KEM Hospital and Hinduja Hospital in Mumbai. He specializes in Diabetes, Thyroid, PCOD and other hormonal disorders. With his team of dieticians and diabetes educators he has helped reverse diabetes in hundreds of patients.
                  </p>"><i class="bx bx-plus"></i></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 recommendation-item filter-card">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Akshaya Shetty</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-7.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr. Akshaya Shetty</li>
                    <li><strong>Specialist</strong>: MD - General Medicine, MBBS, Consultant Physician, Special Interest in Diabetology
                      </li>
                    <li><strong>Experience</strong>: 12 Years Experience Overall  (8 years as specialist)</li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/place/19%C2%B007'47.8%22N+72%C2%B051'55.3%22E/@19.1299292,72.8653484,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.1299292!4d72.8653484?entry=ttu'>Andheri(East), Mumbai</a></li>
                  </ul>
      
                  <p>
                      Dr. Akshaya Shetty is a Consultant Physician and Diabetologist in Andheri East, Mumbai and has an experience of 12 years in these fields. Dr. Akshaya Shetty practices at Shetty's Care Clinic in Andheri East, Mumbai and Paramount General Hospital & I.C.C.U in Andheri East, Mumbai. She completed MD - General Medicine from Dr. D.Y. Patil Medical College and Hospital, Navi Mumbai.
                  </p>"><i class="bx bx-plus"></i></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 recommendation-item filter-card">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Rupesh Nayak</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-8.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr. Rupesh.N.Nayak</li>
                    <li><strong>Specialist</strong>: MBBS, DNB - General Medicine, General Physician, Special Interest in Diabetology
                      </li>
                    <li><strong>Experience</strong>: 17 Years Experience Overall</li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/place/19%C2%B003'12.8%22N+72%C2%B053'13.3%22E/@19.0535473,72.8870158,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.0535473!4d72.8870158?entry=ttu'>Chembur, Mumbai</a></li>
                  </ul>
      
                  <p>
                  Dr. Rupesh.N.Nayak is a General Physician and Diabetologist in Chembur, Mumbai and has an experience of 17 years in these fields. Dr. Rupesh.N.Nayak practices at Surana Sethia Hospital and Research Center in Chembur, Mumbai. He completed MBBS from Grant Medical College and Sir JJ Hospital, Mumbai in 2007 and DNB - General Medicine from Grant Medical College and Sir JJ Hospital, Mumbai in 2012.
                  </p>"><i class="bx bx-plus"></i></a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 recommendation-item filter-web">
          <div class="recommendation-wrap">
            <img src="static/assets/img/recommendation/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="recommendation-info">
              <h4>Dr. Gail Chaudhari</h4>
              <div class="recommendation-links">
                <a href="static/assets/img/recommendation/portfolio-9.jpg" data-gallery="recommendationGallery" class="recommendation-lightbox" title="<h3>Doctor information</h3>
                  <ul>
                    <li><strong>Name</strong>: Dr. Gail Chaudhari</li>
                    <li><strong>Specialist</strong>: MBBS, General Physician, Special Interest in Diabetology
                      </li>
                    <li><strong>Experience</strong>: 31 Years Experience Overall</li>
                    <li><strong>Project URL</strong>: <a href='https://www.google.com/maps/place/19%C2%B008'06.5%22N+72%C2%B049'56.0%22E/@19.135143,72.832221,17z/data=!3m1!4b1!4m4!3m3!8m2!3d19.135143!4d72.832221?entry=ttu'>Oshiwara, Mumbai</a></li>
                  </ul>
      
                  <p>
                  Our resident Paediatrician at Healthspring's Khar and Andheri clinics, Dr Gail has also, in parallel, built a loyal base of patients among the parents of the children she treats in these communities. A diligent paediatrician and a dependable general physician, Dr Gail has nearly 15 years in practice. After completing her MBBS, Dr Chaudhari undertook her Diploma in Child Health (DCH).
                  </p>"><i class="bx bx-plus"></i></a>
                </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End recommendation Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <title>Registration Form</title>
      <link rel="stylesheet" href="static/assets/css/style.css" type="text/css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet">
      </head>
      <body>
      <div class="main">
      <div class="register">
      <h2> Register Here</h2>
      <form name="myForm" action="templates/thankyou.html" id="register" method="post" onsubmit="return validateForm()">
      <label id="lab">Name : </label>
      <br>
      <input type="text" name="fname"
      id="name" placeholder="Enter Your Full Name">
      <br><br>
      
      <label id="lab">Address : </label>
      <br>
      <input type="text" name="address"
      id="name" placeholder="Enter Your Address">
      <br><br>
      
      <label id="lab">Contact No : </label>
      <br>
      <input type="text" name="contact"
      id="name" placeholder="Enter Your Contact Number">
      <br><br>
      
      <label id="lab">Email : </label>
      <br>
      <input type="email" name="email"
      id="name" placeholder="Enter Your Email">
      <br><br>
      <center>
      
      <input type="submit" value="Register"
      name="submit" id="submit">
      
      </center>
      </form>
      </div>
      
      </div>
      

    </div>
  </section><!-- End Contact Section -->


  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/ assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>